.grey-bg { background-color: #e8e8e8; }

.bordered {
	border: 1px solid #e8e8e8;
}

.page-wrapper {
	border: 1px solid transparent;
}

.hero {
	background: #fff;
	.big-fader  {
		padding-top: $navTopHeight+$navHeight;
		
		@media screen and (max-width: $collapseNavAt) {
			& { padding-top: 61px;}
		}
		
	}
	
}

::-webkit-input-placeholder { font-family: $defaultFontStack; }
::-moz-placeholder { font-family: $defaultFontStack; }
:-moz-placeholder { font-family: $defaultFontStack; }
:-ms-input-placeholder { font-family: $defaultFontStack; }
:placeholder { font-family: $defaultFontStack; }

.fader-wrap {
	position:relative;
}

.fader { margin-bottom:0; }

.fader-item {

	position: relative;
	opacity:0;
	background: center no-repeat;
	background-size: cover;
	@include transition( 0.3s opacity $ease-in-out-sine );
	&.loaded { opacity:1; }
}

/* countdown */
.countdown-wrap {
	text-align:center;
}

.countdown {
	position: relative;
	@include transform( translateY(-50%) );
	@include display( inline-flex );
	@include align-items( center );
	
	.val {
		display: block;
		width: 60px;
	}
}

.cd-label {
	font-size: 20px;
	padding: 10px 20px;
}

.countdown-blocks {
	@include display( flex );
}

.cd-block {
	line-height:1;
	text-align:center;
	font-size: 30px;
	display:block;
	padding: 12px 14px;
	
	.t {
		display: block;
		font-size: 10px;
	}
	
}

@media screen and (max-width: 700px) {
	.cd-label { display: none; }
	.cd-block { padding: 10px 5px; }
}

/* sponsors */
.sponsors-grid-wrap {
	margin:0 auto;
	width: 1024px;
	max-width: 100%;
}

.dd-main .instructors-swiper-wrapper {
	@include display( flex );
	@include justify-content( center );
	@include align-content( center );
	@include flex-flow( row wrap );
	
	.title { margin:15px 0 0; }
	
	.slick-dots {
		text-align:center;
		margin: 0 0 30px;
		li { 
			display: inline-block; 
			margin: 0 4px;
		}
		button {
			overflow: hidden;
			text-indent: -999em;
			width: 18px; height: 18px; 
			border: 2px solid $blueColor;
			border-radius: 20px;
			outline: none;
		}
		
		button:hover,
		.slick-active button {
			background: $blueColor;
		}
	}
}

/* instructors */
.instructors-grid {
	@include justify-content( center );
	.col { 
	
		width: 20%; 
		text-align:center;
		
		@media screen and (max-width: 900px) {
			& { width: 25%; }
		}
		
		@media screen and (max-width: 700px) {
			& { width: 33.333%; }
		}
		
		@media screen and (max-width: 500px) {
			& { width: 50%; }
		}
		
	}
}

/* workshops */
.workshop-grid {
	@include justify-content( center );
	.col { 
		
		width: 25%;
		text-align:center;
		
		.nav & { width: 16.666667%; }
		
		@media screen and (max-width: 900px) {
			& { width: 25%; }
		}
		
		@media screen and (max-width: 700px) {
			& { width: 33.333%; }
		}
		
		@media screen and (max-width: 500px) {
			& { width: 50%; }
		}
		
	}
}

.instructor-thumb,
.workshop-thumb {
	width: 80%;
	max-width: 180px;
	margin: 0 auto;
	.lazybg {
		border-radius: 50%;
		border: 1px solid #a7a7a7;
		padding: 0 0 100%;
		height:0;
	}
}

.workshop-name,
.instructor-name {
	text-align:center;
	display:block;
	font-size: 18px;
	color: #a7a7a7;
}

.nav  {

	.workshop-grid-wrap,
	.instructor-grid-wrap { 
		@include flex ( 1 1 auto );
		padding: 30px; 
	}

	.workshop-name,
	.instructor-name { font-size: 14px; }
	
	.workshop-thumb,
	.instructor-thumb {
		width: 75%;
		margin: 0 auto;
		max-width: 130px;
	}
	
	.date-block {
		display: inline-block;
		margin: 0 0 10px;
	}
}

.hex-separator {
	display: block;
	position: relative;
	padding: 20px 0;
	margin: 0 auto;
	max-width: 80%;
	
	&:after {
		position: absolute;
		top: 50%;
		@include transform( translateY(-50%) );
		left:0; right:0;
		content:"";
		border-top: 1px solid $blueColor;
	}
	
	span {
		background: $blueColor;
		width: 20px;
		height: 14px;
		z-index: 2;
		border: 3px solid #fff;
		position: absolute;
		top: 50%;
		@include transform( translateY(-50%) rotate(-90deg) );
		left:0; right:0;
		margin: 0 auto;
		
		&:before,
		&:after {
			position: absolute;
			width: 0; height:0;
			border: solid #fff;
			border-width: 4px 7px;
			content:"";
			left:0; right:0;
			margin: 0 auto;
			top: -8px;
		}
		
		&:before {
			border-bottom-color: $blueColor;
		}
		
		&:after {
			top: auto;
			bottom: -8px;
			border-top-color: $blueColor;
		}
		
	}
	
}

.date-block {
	display: block;
	border: 1px solid $greyColor;
	text-align:center;
	line-height: 1.2;
	color: $blueColor;
	
	&.ib { display: inline-block; }
	
	span {
		display: block;
		@include transition( all 0.15s $ease-in-out-sine );
	}
	
	.dow {
		margin: -1px -1px 0;
		border: 1px solid $blueColor;
		color: #fff;
		background: $blueColor;
		text-transform:uppercase;
		width: 128px;
		font-size: 13px;
		padding: 6px;
	}
	
	.date {
		font-size: 42px;
		font-weight:600;
	}
	
	.month {
		font-size:12px;
		padding:0 0 5px;
		font-weight:600;
		text-transform:uppercase;
	}
	
	&+.button.block {
		margin-top: 5px;
	}
	
}

a.date-block:hover {
	cursor: pointer;
	span {
		color: #fff;
		background: $blueColor;
	}
	
	.dow {
		color: $blueColor;
		background: #fff;
	}
}

.date-block.tab-control {
	color: darken($greyColor,20);
	.dow { background: darken($greyColor,20); }
	
	&.selected,
	&:hover {
		color: #fff;
		background: $blueColor;
		.dow { 
			background: #fff; 
			color: $blueColor;
		}
	}

}


.schedule.swiper-wrapper {
	text-align:center;
	.button {
		margin: 0 0 20px;
	}
}

.schedule-timeline-grid-wrap {
	padding: 40px;
	margin: 0 auto;
	max-width: 90%;
	text-align:center;
	position: relative;
	
	&:after {
		position:absolute;
		top:50%; left:0; right:0;
		@include transform( translateY(-50%) );
		height: 12px;
		background: #fff;
		content:"";
		z-index: -1;
	}
	
	@include t-fa();
	
	&:before {
		position: absolute;
		right:-20px;
		top: 50%;
		@include transform( translateY(-50%) );
		content: $fa-var-arrow-right;
		font-size: 52px;
		margin-top: -1px;
	}
}

.schedule-timeline-item {
	@include display( flex );
	color: $blueColor;
	background: #fff;
	padding: 12px;
}

.schedule-timeline-block {
	position:relative;
	@include flex( 1 1 auto );
	text-align:center;
	
	&:first-child:after {
		position:absolute;
		top: 0px; bottom:0px; right:-1px;
		border-right: 1px solid $blueColor;
		content:"";
	}
	
	.fa { 
		display: block; 
		font-size: 30px;
	}
	
}

.schedule-timeline-title {
	display:block;
	font-size:18px;
	font-weight:600;
}

.schedule-timeline-subtitle {
	display:block;
	font-size:12px;
}

.global-search-form {
	position: fixed;
	top:0; left:0; right:0; bottom:0;
	background: rgba(255,255,255,0.9); 
	z-index: 99;
	@include transition( 0.4s transform $ease-in-out-sine );
	@include transform( translate3d(0,-100%,0) );
	
	.show-search & {
		@include transform( translate3d(0,0,0) );
	}
	
	.fieldset { 
		@include display( flex ); 
		position: absolute;
		top:0; left:0; right:0;
		width: $wrapperWidth; height: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	
	input { 
		margin: auto; 
		background: transparent;
		font-size: 32px;
		font-family: $defaultFontStack;
		font-weight:600;
		padding: 12px;
		border: 3px solid transparent;
		border-bottom-color: $blueColor;
		color: $blueColor;
		outline: none;
		width: 600px;
		max-width: 80%;
		min-width: 300px;
		@include appearance( none );
	}
	
	.close {
		position: absolute;
		top: 10px; right: 10px;
		font-size: 32px;
		cursor: pointer;
		width: 44px; height: 44px;
		color: $blueColor;
		overflow:visible;
		@include transition( 0.2s color $ease-in-out-sine 0.2s );
		
		&:after {
			background: $blueColor;
			width: 44px; height: 44px; 
			border-radius: 22px;
			position: absolute;
			top:0; left:0;
			@include transform-origin( center );
			@include transform( scale( 0,0) );
			@include perspective( 1px );
			content: "";
			@include transition( 0.2s transform $ease-in-back );
		}
		
		&:hover {
			color: #fff;
			@include transition-delay( 0s );
			
			&:after {
				@include transform( scale( 1,1) );
				@include transition-timing-function( $ease-out-back ); 
			}
		}
	}
	
}

/* get in touch */
.get-in-touch {

	width: 1200px;
	margin: 0 auto;
	max-width: 100%;

	.fieldset {
		@include display( flex );
		@include align-items( center );
		@include flex-flow( row wrap );
		@include justify-content( center );
	}
	
	input { 
		width: auto !important;
		@include flex( 1 1 auto );
		margin:0 10px !important;
		padding: 10px !important;
	}
	
	.title { 
		font-size: 38px; 
		margin-right: 20px;
	}
	
	.button {
		margin-left: 20px;
	}
	
	.title,
	.button {
		@include flex( 0 0 auto );
	}
	
	@media screen and (max-width: 1000px) {
		.fieldset { 
			display: block; 
			text-align:center; 
		}
		
		input {
			width: 100% !important;
			margin: 0 0 10px !important;
		}
	}
	
}

/* error404 */
.error404 {
	.hero-caption { 
		color: #000; 
		
		.sw {
			margin: 40px auto 0;
		}
		
	}
}

/* contact page */
.contact-page-wrap {
	max-width: 1180px;
	margin: 0 auto;
	
	.address-block {
		@include display( flex );
		@include justify-content( space-between );
		@include flex-flow( row wrap );
		@include align-items( flex-start );
		
		address { margin: 0 0 10px; }
	}
}

.acc-item-handle { font-weight: 600; }

.flex-article {
	@include display( flex );
	
	.article-thumb {
		@include order( -1 );
		@include flex( 0 0 200px );
		margin-right: 30px;
	}
	
	@media screen and (max-width: 780px) {
		& { @include flex-flow( row wrap ); }
		.article-thumb { @include flex( 0 0 100% ); }
	}
	
}

.article-body+.article-body {
	border-top: 1px solid $blueColor;
	margin-top: 20px;
	padding-top: 40px;
}

/* overview blocks */
.ov-blocks {
	text-align:center;
	color: $blueColor;
	@include justify-content( center );
	.col {  
		width: 33.3333%; 
		
		@media screen and (max-width: $gridCollapseSmall) { width: 50%; }
		@media screen and (max-width: $gridCollapseExtraSmall) { width: 100%; }
		
	}

}

.ov-blocks-title {
	display: block;
	font-weight: bold;
	font-size: 20px;
	
	.date-block + & {
		margin-top: 10px;
	}
	
}

.ov-article {
	text-align:center;
	margin: 0 0 30px;
	p { font-size: 20px; }
	
}

/* directions */
.embedded-gmap { 

	height:0 !important; 
	overflow:hidden; 
	padding: 56.25% 0 0; 
	position: relative; 
	
	iframe {
		position: absolute; 
		left:0; right:0; top:0; bottom:0; 
		width: 100%; height: 100%; 
	}
}

#street-map.loading { 
	background: #ccc; 
	height: 150px !important;
}

#street-form {

	margin: 0 auto 20px;
	width: 600px;
	max-width: 100%;

	@include display( flex );
	&:after { display: none; }
	
	.fieldset { 
		@include flex( 1 1 auto ); 
		padding-right: 10px;
	}
	
	input { padding: 14px; }
	
	.current-location {
		background: $blueColor;
		color: #fff;
		@include flex( 0 0 auto );
		width: 50px;
		
		&:hover { background: darken($blueColor,10); }
	}
}

.directions-tabs {
	.selector { 
		display: none !important; 
	}
	
	.tab-controls {
		@include display( flex );
		@include justify-content( center );
		margin: 0 -10px 10px;
		text-align: center;
	}
	
	@media screen and (max-width: 600px) {
		.tab-controls {
			display: block;
			margin: 0 0 10px;
		}
		.selector { display: block !important; }
		.tab-control { display: none; }
	}
	
	.tab-control {
		cursor: pointer;
		padding: 8px; 
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( center );
		text-transform: uppercase;
		width: 150px; height: 150px;
		margin: 0 auto;
		border-radius: 50%;
		text-align: center;
		color: $blueColor;
		font-weight: 600;
		text-transform: uppercase;
		
		.t-fa {
			&:before { 
				font-size: 60px; 
				display: block;
			}
		}
		
		&.selected,
		&:hover {
			background: $blueColor;
			color: #fff;
		}
	}
}

/* sidebar */
.acc.inv {
	&>.acc-item {
		&>.acc-item-handle:before { color: $blueColor; }
	}
	.acc-item-handle { 
		color: $blueColor;
		background: transparent;
		border: none;
	}
	
	.acc-item {
		&.expanded .acc-item-handle,
		.acc-item-handle:hover {
			background: $blueColor;
			color: #fff;
			&:before { color: #fff; }
		}
	}
	
	.acc-item-content {
		border: none;
	}
}

.archives-mod .acc {

	margin: 0 -25px;

	.acc-item-handle {
		font-weight: bold;
		padding-left: 25px;
		padding-right: 25px;
		&:before {
			font-size: 16px !important;
		}
	}
	
	.acc-item-content {
		padding:10px 25px;
	}
	
}

.sidebar .mod {
	margin: 0 0 20px;
	.title { font-weight: 600; }
}

.archives-mod {

	border: 1px solid #ccc;
	padding: 25px;

	a {
		display: block;
		padding: 5px 25px;
		margin: 0 -25px;
		color: $blueColor;
		
		&:hover {
			color: #fff;
			background: $blueColor;
		}
	}
	
}

.search-mod {
	.single-form {
		&:after { display: none; }
	}
	
	input { 
		font-size: 18px; 
		padding: 14px;
	}
	button { 
		font-size: 18px; 
		background: $blueColor;
		color: #fff;
		padding: 6px 14px;
		@include align-self( stretch );
		
		&:hover { background: darken($blueColor,10); }
	}
}

/* registration */
.registration-wrapper {
	width: 850px;
	max-width: 100%;
	margin: 0 auto;
}

.reg-contact-info {
	@include display( flex );
	@include flex-flow( row wrap );
	margin: 0 0 40px;
	input { 
		@include flex( 1 1 30% );
		margin: 0 0 10px 10px !important;
		&:first-child { margin: 0 0 10px !important; }
	}
	textarea { 
		@include flex( 0 0 100% );
		height: 75px; 
	}
}

.reg-section {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 0 0 40px;
	
	.section-header + & { margin-top: -20px; }
}

.reg-item {
	overflow: hidden;
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	border-radius: 8px;
	padding: 12px;
	input { 
		position: absolute; 
		left: -50px;
	}
	
	&.t-fa {
		&:before { 
			content: $fa-var-square-o; 
			@include flex( 0 0 auto );
			margin-right: 15px;
			font-size: 24px;
		}
	}
	
}

label.reg-item {
	border: 3px dashed transparent;
	&.focused,
	&:hover {
		border-color: #fff;
		background: #efefef;
	}
	
	&:active {
		background: #ddd;
	}
	
	&.selected {
		background: $blueColor;
		color: #fff;
		.reg-item-price { color: #fff; }
		&:before { content: $fa-var-check-square-o; }
		
		&:active {
			background: darken($blueColor,10);
		}
		
	}
}

.reg-label {
	@include flex( 1 1 auto );
}

.reg-item-price,
.reg-label { 
	font-size: 18px;
	font-weight: 600;
}

.reg-label-meta {
	font-size: 14px;
	display: block;
	font-weight: 400;
}

.reg-item-price {
	color: $blueColor;
}

.active-registrations {
	margin: 20px 0;
}

.active-registration-item {
	border-bottom: 1px solid #fff;
	background: $greyColor;
	padding: 12px;
	position: relative;
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	cursor: pointer;
	
	&:hover {
		background: $blueColor;
		color: #fff;
	}
	
	.t-fa {
		@include flex( 0 0 auto );
		font-size: 32px;
		margin-left: 6px;
		cursor: pointer;
		color: $bodyContentColor;
		&:hover {
			color: #fff;
		}
	}
}

.active-registration-name {
	@include flex ( 1 1 auto );
	font-size: 24px;
	font-weight: 600;
}

.active-registration-total {
	padding: 6px;
	background: #fff;
	color: $bodyContentColor;
}

/* search */
.arrow-controls {
	position:relative;
	padding: 3px 0;
	@include display( flex );
	@include align-items( center );
	@include justify-content( center );
	&:after {
		position:absolute;
		border-right:1px solid $greyColor;
		content:"";
		top:0; left:50%; bottom:0; 
	}
	
	&.centered {
		width: 110px;
		margin: 0 auto;
	}
	
	button { 
		outline: none;
		display:block;
		@include t-fa-abs();
		border-radius: 50%;
		border: 1px solid $greyColor;
		width: 40px; height: 40px;
		line-height:40px;
		@include transition( 0.15s all $ease-in-out-sine );
		color: $greyColor;
		&:before {
			font-size: 32px;
		}
		
		&:hover {
			background: $greyColor;
			color: #fff;
		}
		
	}
	
	.prev {
		margin-right: 5px;
		&:before { 
			content: $fa-var-angle-left; 
			text-indent: -3px;
		}
	}
	
	.next {
		margin-left: 5px;
		&:before { 
			content: $fa-var-angle-right; 
			text-indent: 3px;
		}
	}
}

.paginated-items-container { 
	background-color: #fff;
}

.paginated-items-header { 
	background-color: $blueColor;
	padding: 15px;	
	color: #fff;
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	
	.selector {
		margin:0;
		background: #8b8b8b;
	}
	
	.title {
		font-size: 22px;
	}
	
	.date {
		font-size: 14px;
		text-transform: uppercase;
	}
}

.paginated-items-footer {
	background-color: #b6b6b6;
	padding: 15px;
	@include display( flex );
	@include justify-content( flex-end );
	@include align-items( center );
	
	.arrow-controls { 
		margin-right: 15px; 
		&:after { border-color: #fff; }
		.next,
		.prev {
			color: #fff;
			border-color: #fff;
			
			&:hover {
				background-color: #fff;
				color: $greyColor;
			}
		}
	}
	.count {
		color: #fff;
		font-weight: bold; 
	}
}

.search-result {
	display: block;
	padding: 15px 20px;
	border: 1px solid;
	border-color: #fff $greyColor;
	@include display( flex );
	@include align-items( flex-start );
	color: $bodyContentColor;
	.button { 
		@include transition-duration( 0s ); 
	}
	
	&:hover {
		background: $blueColor;
		color: #fff;
		.button {
			border-color: #fff;
		}
	}
	
	.lazybg {
		@include flex( 0 0 90px );
		margin-right: 10px;
	}
	
	time {
		@include align-self( center );
		text-align: right;
		@include flex( 0 0 100px );
	}
	
	@media screen and (max-width: 650px) {
		.lazybg { display: none; }
	}
	
	@media screen and (max-width: 550px) {
		& { 
			@include flex-flow( row wrap );
		}
		
		time {
			@include order( -1 );
			@include flex( 1 0 100% );
			text-transform: uppercase;
			font-weight:bold;
			margin: 0 0 8px;
		}
	}
	
}

.search-content {
	font-size: 18px;
	@include flex( 1 1 auto );
	span:first-child { display: block; }
	
	.button {
		font-size: 12px;
		margin-top: 10px;
	}
}

/* credit card form */
.cc-form {
	@include display( flex );
	@include align-items( flex-start );
	
	.fieldset {
		@include order( -1 );
		@include flex( 3 1 auto );
		margin-right: 20px;
	}
	
	.field-wrap { border: none; }
	select { margin:0; }
	.grid { margin-top:0; margin-bottom:-20px;}
	
}

.reg-totals {
	background: #fff;
	color: $blueColor;
	padding: 15px; 
	@include flex( 1 1 auto );
	margin: 0 0 30px;
	
}

.reg-total-item {
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	margin-bottom: 2px;
	border-bottom: 1px solid $blueColor;
}

.reg-total-label {
	font-weight:600;
}

.reg-total-price {
	font-weight: 600;
	font-size: 18px;
	padding: 5px;
	width: 90px;
	text-align:right;
	border-radius: 4px;
}

@media screen and (max-width: 500px) {

	.active-registration-item .t-fa {
		font-size: 24px;
	}

	.active-registration-name {
		font-size: 18px;
	}

	.cc-form-section h3 { 
		font-size: 18px; 
		font-weight: 600;
	}
}

/* workshop page */
.workshop-info-header {
	@include display( flex );
	width: 900px;
	max-width: 100%;
	background: #fff;
	padding: 40px;
	border-radius: 12px;
	margin: -150px auto 0;
	
	&>div { @include flex( 1 1 auto ); }
}

.workshop-info {
	text-align:center;
	& + .workshop-info { 
		margin-top: 40px; 
		padding-top: 40px;
		border-top: 1px solid $blueColor;
	}
}

.workshop-info-instructor {
	.ib { margin: 0 15px; }
}

/* schedule */
.schedule-grid {
	table {
		text-align:center;
		width: 900px;
		max-width: 100%;
		margin: 20px auto;
		border-collapse: collapse;
		
		
		th {
			padding: 10px;
			.date-block { position: relative; }
		}
		
		td {
			padding: 10px;
			color: $blueColor;
			border: solid $greyColor;
			border-width: 0 1px 0 0;
			&:first-child { border: none; }
		}
		
		th.today .date-block:after {
			content:"";
			position: absolute;
			top: 100%;
			background: $blueColor;
			left:0; right:0;
			width: 2px; height: 11px;
			margin: 0 auto;
		}
		
		td.today {
			background: $blueColor;
			color: #fff;
		}
	}
	
	.date-block { display: inline-block; }
	
	.schedule-item-location { font-style: normal; }
	
	.inactive {
		.schedule-item-time,
		.today { opacity:0.6; }
		.schedule-item-time { color: $greyColor; }
	}
	
	.current {
		.schedule-item-time { text-decoration: underline;}
		
		& ~ tr {
			.today { background: transparent; color: $blueColor; }
		}
		
	}
	
}

.schedule-tabs {
	display: none;
	
	&.show-all { display: block; }

	&.daily-schedule {
		.selector { display: none; }
	}
	
	&.workshop-schedule {
		.selector .value { 
			display: block; 
			padding: 14px;
			font-size: 22px;
		}
	}

	.tab-controls { 
		text-align: center; 
		
		@media screen and (max-width: 750px) {
			.tab-control { display: none; }
			.selector { display: block; }
		}
		
	}	
}

.tab-controls.with-indicators {

	margin-bottom: 20px;
	
	.tab-control.selected {
		position: relative;
		&:before {
			position: absolute;
			top: 100%; left:0; right:0;
			margin: 0 auto;
			width: 2px; height: 21px;
			background: $blueColor;
			content:"";
		}
	}
	
}

.schedule-block {
	width: 900px;
	max-width: 100%;
	margin: 20px auto;
}

.schedule-item {
	background: $greyColor;
	background: $blueColor;
	color: #fff;
	margin: 0 0 15px;
	padding: 15px;
	border-radius: 8px;
	@include display( flex );
	@include align-items( center );
	
	&.inactive { opacity: 0.4; }
	&>span { 
		display: block;
		margin: 0 0 15px; 
	}
	
	.workshop-item {
		@include flex( 0 0 70px );
		.workshop-thumb { max-width: 75px; }
	}
	
	.workshop-name {
		color: #fff;
		font-size: 11px;
		font-weight:600;
		text-transform: uppercase;
		margin: 4px 0 0;
	}
	
	@media screen and (max-width: 700px) {
		& { display: block; }
		.workshop-item { 
			@include display( flex ); 
			@include align-items( center );
		}
		.workshop-thumb { margin:0; }
		.workshop-name { font-size: 16px; font-weight: 600; padding-left: 15px;}
	}
}

.schedule-item-content {
	@include flex( 1 1 auto );
}

.schedule-item-time {
	font-size: 28px;
	font-weight: 600;
	padding-right: 20px;
	text-transform: uppercase;
	text-align:center;
	
	.date {
		font-size: 12px;
		display: block;
	}
}

.schedule-item-title {
	font-size: 22px;
	font-weight: 600;
	display: block;
}

.schedule-item-location {
	font-style: italic;
	display: block;
}

@media screen and (max-width: 950px) {
	.schedule-grid { display: none; }
	.schedule-tabs { display: block; }
}

.note {
	background: $blueColor;
	padding: 10px;
	margin: 20px 0;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}

.block-item {
	text-align: center;
	border: 1px solid #ccc;
	padding: 12px;
	font-size: 14px;
	
	&.with-button {
		position:relative;
		padding-bottom: 70px;
		
		.button-wrap {
			text-align:center;
			position:absolute;
			bottom:20px; left:0; right:0;
		}
		
	}
	
}

.block-head {
	padding: 12px;
	font-weight: 600;
	margin: -12px -12px 0;
	text-transform: uppercase;
}

.block-title {
	margin: 10px 0;
	display: block;
	text-decoration: underline;
}

.block-subtitle {
	margin: 10px 0;
	font-weight: 600;
	display: block;
}

.block-price {
	font-weight: 600;
	text-transform: uppercase;
	color: $blueColor;
	line-height: 1;
	font-size: 32px;
	margin: 20px 0;
	display:block;
	
	small {
		font-size: 14px;
		display: inline-block;
		vertical-align: baseline;
	}
}